.signup {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  font-style: italic;
}

.signup h1 {
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgba(0, 0, 0, 0.592);
}

.signup input {
  width: 80%;
  height: 50px;
}

.signup input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.signup button {
  width: 81.5%;
  height: 50px;
  margin-top: 20px;
  background-color: rgba(51, 48, 48, 0.914);
  color: white;
  cursor: pointer;
}

.signup button:hover {
  background-color: rgba(51, 48, 48, 0.621);
}

.signup button:active {
  background-color: rgba(51, 48, 48, 0.914);
}

.signup button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  cursor: not-allowed;
}

.signup h4 {
  font-weight: 500;
  margin-top: 40px;
  padding-bottom: 40px;
}

.signup p {
  margin-top: 0;
  margin-bottom: 0;
}

.signup span {
  color: rgba(0, 42, 255, 0.558);
  cursor: pointer;
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.error {
  color: #b40e0e;
}

.hide input::placeholder {
  font-size: 17px;
}
